.idea/
__pycache__/
**/__pycache__/
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
license_portal/settings.py
media
media/
media/**
media/**/*.*
media/*.*
moderation/tmp/

main/migrations/__pycache__
main/migrations/__pycache__/*