{% extends 'layout/base.html' %}

{% block content %}

  <div class="row" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">

{% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert" style="width: 100%;direction: rtl;max-width: 960px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
        {{ error }}
    </div>
{% elif success %}
    <div class="alert alert-success alert-dismissible" role="alert" style="width: 100%;direction: rtl;max-width: 960px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
        {{ success }}
    </div>
{% endif %}

		<div class="panel-form-wide">
			<h3> التراخيص الصادرة </h3>

			<div style="margin-bottom: 15px; margin-top: 15px; width: 100%;">

                <table class="table">
                    <thead>
                        <tr>
                            <th>نوع الترخيص</th>
                            <th>حالة الترخيص</th>
                            <th>تاريخ الإصدار</th>
                            <th>تاريخ الإنتهاء</th>
                            <th style="padding: 0px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if licenses %}
                        {% for license in licenses %}
                            <tr>
                                <td>{{ license.application.type.name }}</td>
                                <td>{{ license.status.name }}</td>
                                <td>{{ license.created_at|date }}</td>
                                <td>{{ license.expiration_date|date }}</td>
                                <td><a href="{% url 'moderation:view_application' license.application.id %}" class="btn btn-primary" ripple="ripple"><i class="fa fa-eye"></i> عرض الطلب</a></td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" style="text-align: center;"><i>لا يوجد رخص صادرة</i></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

                {% if licenses %}
                    <div style="text-align: left; border-top: 1px solid #f3f3f3">
                        <ul class="pagination">
                            {% if licenses.has_previous %}
                                <li>
                                    <a href="?page={{ licenses.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <a href="#!" class="disabled" aria-label="Previous" disabled="disabled"><span aria-hidden="true">«</span></a>
                                </li>
                            {% endif %}

                            {% for i in licenses.paginator.page_range %}
                                {% if page == i %}
                                    <li class="active">
                                        <a href="?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if licenses.has_next %}
                                <li>
                                    <a href="?page={{ licenses.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <a href="#!" class="disabled" aria-label="Next" disabled="disabled"><span aria-hidden="true">»</span></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

			</div>

		</div>

  </div>
{% endblock %}
