{% extends 'layout/base.html' %}

{% block content %}

<div class="row" class="container-panel" style="padding-bottom: 40px">
    <h4> عرض الطلب </h4>

    <hr>
    <label class="panel-title">البيانات الشخصية للمتقدم</label>
    <div class="panel-form-wide">
        <div class="row" style="width: 100%">
            <div class="col-md-6 col-sm-12">
                <label>رقم الهوية:</label>
                <p>{{ application.applicant.id_number }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <label>الاسم بالكامل:</label>
                <p>{{ application.applicant.fullname }}</p>
            </div>
        </div>

        <div class="row" style="width: 100%">
            <div class="col-md-6 col-sm-12">
                <label>البريد الالكتروني:</label>
                <p>{{ application.applicant.email }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <label>رقم الجوال:</label>
                <p>{{ application.applicant.mobile }} ({{ application.applicant.phonecode }})</p>
            </div>
        </div>

        <div class="row" style="width: 100%">
            <div class="col-md-6 col-sm-12">
                <label>تاريخ الميلاد:</label>
                <p>{{ application.applicant.birthdate|date }} ({{ application.applicant.birthdatehijri_dateformat }} هجري)</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <label>الجنس:</label>
                <p>{{ application.applicant.gender_text }}</p>
            </div>
        </div>

        <div class="row" style="width: 100%">
            <div class="col-md-6 col-sm-12">
                <label>كود الدولة:</label>
                <p>{{ application.applicant.countryid }}</p>
            </div>
        </div>

        {% if application_type == ApplicationType.COMPANY %}
            <div class="row" style="width: 100%">
                <div class="col-md-12 col-sm-12">
                    <label>بيانات السجل التجاري:</label>
                    <p>
                        <table id="review-cr-info" class="table">
                            <thead>
                                <tr>
                                    <th>رقم السجل التجاري</th>
                                    <th>اسم المنشآة</th>
                                    <th>نوع المنشأة</th>
                                    <th>نشاط المنشآة</th>
                                    <th>رقم الهاتف</th>
                                    <th>منصب المتقدم</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ CR.number }}</td>
                                    <td>{{ CR.name }}</td>
                                    <td>{{ CR.business_type_text }}</td>
                                    <td>{{ CR.activities }}</td>
                                    <td>{{ CR.phone }}</td>
                                    <td>{{ applicant_application_cr.relation_text }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>
        {% endif %}

    </div>

    <hr>
    <label class="panel-title">تفاصيل الطلب</label>
    <div class="panel-form-wide">
        {% if application.return_reason %}
            <div class="row" style="width: 100%;margin-bottom: 10px">
                <div class="col-sm-12">
                    {% if application.status.value == ApplicationStatus.REJECTED %}
                        <label><i class="fa fa-exclamation-triangle"></i> سبب رفض الطلب:</label>
                    {% else %}
                        <label><i class="fa fa-exclamation-triangle"></i> سبب رد الطلب:</label>
                    {% endif %}

                    <textarea class="form-control" rows="4" readonly style="background-color: white">{{ application.return_reason }}</textarea>
                </div>
            </div>
        {% endif %}

        <div class="row" style="width: 100%">
            <div class="col-md-6 col-sm-12">
                <label>نوع الطلب:</label>
                <p>{{ application.type_text }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <label>حالة الطلب:</label>
                <p>{{ application.status.name }}</p>
            </div>
        </div>

        <div class="row" style="width: 100%">
            <div class="col-md-6 col-sm-12">
                <label>الخدمة المطلوبة:</label>
                <p>{{ application.service.name }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <label>رمز الطلب:</label>
                <p>{{ application.serial }}</p>
            </div>
        </div>

        <div class="row" style="width: 100%">
            <div class="col-sm-12">
                <label>المستندات المقدمة:</label>
            </div>
        </div>

        <div class="row" style="width: 100%">
            <div class="col-sm-12">
                {% for doc in application.documents.all %}
                    {% if doc.file_type == ApplicationDocument.TYPES.IMAGE %}
                        <div class="col-md-2 col-sm-4 col-xs-5 application-document-icon application-document-icon-img" style="background-image: url('{{ doc.file.url }}')" data-toggle="tooltip" data-title="عرض الملف" onclick="displayViewer('image', '{{ doc.file.url }}', '{{ doc.description }}')">
                            {% if doc.id in returned_docs %}
                                <span class="updated-notifier"></span>
                            {% endif %}
                            <span class="file-preview-description"><small>({{ forloop.counter }})</small> {{ doc.description }}</span></div>
                    {% elif doc.file_type == ApplicationDocument.TYPES.PDF %}
                        <div class="col-md-2 col-sm-4 col-xs-5 application-document-icon application-document-icon-pdf" data-toggle="tooltip" data-title="عرض الملف" onclick="displayViewer('pdf', '{{ doc.file.url }}', '{{ doc.description }}')"><i class="fa fa-file-pdf-o"></i>
                            {% if doc.id in returned_docs %}
                                <span class="updated-notifier"></span>
                            {% endif %}
                            <span class="file-preview-description"><small>({{ forloop.counter }})</small> {{ doc.description }}</span></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="row" style="width: 100%; margin-top: 20px;">
            <div class="col-sm-12">
        <hr>
                <label>العمليات السابقة:</label>
            </div>
        </div>

        <div class="row" style="width: 100%;">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>المستخدم</th>
                            <th>الإجراء</th>
                            <th>التاريخ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if application.action_history %}
                            {% for entry in application.action_history %}
                                <tr>
                                    {% if entry.invoker %}
                                        <td class="history-name-field">{{ entry.invoker.first_name|add:' '|add:entry.invoker.last_name }}</td>
                                    {% else %}
                                        <td class="history-name-field"><i style="color: green">المتقدم بالطلب</i></td>
                                    {% endif %}
                                    <td class="history-operation-field">{{ entry.text }}</td>
                                    <td class="history-date-field">{{ entry.created_at|date }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                                <tr><td style="text-align: left;" colspan="3"><h4 style="text-align: center;"><i>لا يوجد</i></h4></td></tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% if user_role == 'officer' and application.status.value <= ApplicationStatus.IN_REVISION or user_role == 'officer' and application.status.value == ApplicationStatus.RETURNED_REVISION or user_role == 'officer' and application.status.value == ApplicationStatus.PAYMENT_APPROVED or user_role == 'finance' and application.status.value == ApplicationStatus.PENDING_PAYMENT_APPROVAL or user_role == 'manager' and application.status.value == ApplicationStatus.IN_MANAGER or user_role == 'manager' and application.status.value == ApplicationStatus.RETURNED_MANAGER or user_role == 'president' and application.status.value == ApplicationStatus.IN_PRESIDENT %}
    <div class="action-panel">
        <form action="{% url 'moderation:action_application' application.id %}" method="POST" style="width: 100%">
            {% csrf_token %}
            <div class="action-message action-message-reject" style="display: none;">
                <p>
                    {% if application.status.value == ApplicationStatus.PENDING_PAYMENT_APPROVAL %}
                        <strong>من فضلك أدخل سبب رفض إيصال الدفع</strong>
                    {% else %}
                        <strong>من فضلك أدخل السبب</strong>
                    {% endif %}
                    <br>

                    {% if user_role == 'officer' %}
                        <small>سيتم إرجاع الطلب للمتقدم به مع ذكر السبب وإتاحة له الفرصة لإعادة رفع المستندات المختارة أدناه
                        <br>
                        (في حالة عدم اختيار أياً من الملفات التالية سيتم طلب إعادة رفع جميع المستندات من المتقدم)</small>
                    {% elif user_role == 'manager' %}
                        <small>سيتم إرجاع الطلب لمسؤول التراخيص للمراجعة مع ذكر السبب</small>
                    {% elif user_role == 'president' %}
                        <small>سيتم إرجاع الطلب لمدير الأكاديمية للمراجعة مع ذكر السبب</small>
                    {% elif user_role == 'finance' %}
                        <small>سيتم إرجاع الطلب للمتقدم به مع ذكر السبب وإتاحة الإمكانية لإعادة رفع الإيصال <u>فقط</u></small>
                    {% endif %}
                </p>

                {% if user_role == 'officer' %}
                    <div class="return-file-selector">
                        <div class="row" style="width: 100%;margin-bottom: 20px;">
                            <div class="col-sm-12">
                                {% for doc in application.documents.all %}
                                    {% if doc.file_type == ApplicationDocument.TYPES.IMAGE %}

                                        <div class="col-md-2 col-sm-4 col-xs-5 application-document-icon-mini application-document-icon-img" style="background-image: url('{{ doc.file.url }}')" data-toggle="tooltip" data-title="اختر الملف" onclick="selectFileReturn(this, {{ doc.id }})" data-selected="false"><span class="file-preview-description"><small>({{ forloop.counter }})</small> {{ doc.description }}</span></div>

                                    {% elif doc.file_type == ApplicationDocument.TYPES.PDF %}

                                        <div class="col-md-2 col-sm-4 col-xs-5 application-document-icon-mini application-document-icon-pdf" data-toggle="tooltip" data-title="اختر الملف" onclick="selectFileReturn(this, {{ doc.id }})" data-selected="false"><i class="fa fa-file-pdf-o"></i><span class="file-preview-description"><small>({{ forloop.counter }})</small> {{ doc.description }}</span></div>

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <textarea class="form-control" placeholder="أدخل السبب" name="reason" rows="5" data-rule-required="true" data-msg-required="أدخل سبب الرفض"></textarea>

                <small>(اضغط موافقة مرة أخرى للتأكيد)</small>
            </div>
            {% if user_role != 'finance' %}
                <div class="action-message action-message-reject-completely" style="display: none;">
                    <p>
                        <strong>من فضلك أدخل السبب</strong><br>

                        <small>سيتم رفض الطلب نهائياً ورده للمتقدم مع ذكر السبب</small>

                    </p>
                    <textarea class="form-control" name="reason-completely" rows="5" data-rule-required="true" data-msg-required="أدخل سبب الرفض"></textarea>

                    <small>(اضغط موافقة مرة أخرى للتأكيد)</small>
                </div>
            {% endif %}

            <div class="action-message action-message-approve" style="display: none;">
                <p>
                    <strong>هل أنت متأكد؟</strong><br>

                    {% if user_role == 'officer' %}
                        {% if application.status.value == ApplicationStatus.PAYMENT_APPROVED %}
                            سيتم إعتماد الطلب كلياً وإصدار الترخيص للمتقدم
                        {% else %}
                            سيتم إرسال الطلب إلى مدير الأكاديمية للمراجعة
                        {% endif %}
                        <br>
                    {% elif user_role == 'manager' %}
                        سيتم إرسال الطلب إلى رئيس الأكاديمية للمراجعة <br>
                    {% endif %}

                    <small>(اضغط موافقة مرة أخرى للتأكيد)</small>
                </p>
            </div>

            <div class="action-bottom-content">
                <span class="action-panel-title">اتخذ إجراء</span>
                <span class="actions-wrapper">
                    <input type="hidden" name="_action">
                    <button type="button" class="btn btn-success action-approve-btn" data-action=""> <i class="fa fa-check"></i> موافقة</button>
                    <button type="button" class="btn btn-warning action-reject-btn"> <i class="fa fa-times"></i> <span>رد الطلب</span></button>

                    {% if user_role != 'finance' %}
                        <button type="button" class="btn btn-danger action-reject-completely-btn"> <i class="fa fa-times"></i> <span>رفض نهائي</span></button>
                    {% endif %}
                </span>
            </div>
        </form>
    </div>
{% endif %}


    <div class="file-viewer image-viewer-wrapper" style="display: none;">
        <div class="viewer-top-bar">
            <span class="viewer-file-description"></span>
            <span class="viewer-option-button viewer-applicant-info-btn" data-toggle="tooltip" data-title="عرض/إخفاء بيانات المتقدم" data-placement="bottom"><i class="fa fa-eye"></i></span>
            <span class="viewer-option-button viewer-close-btn" data-toggle="tooltip" data-title="غلق" data-placement="bottom"><i class="fa fa-times"></i></span>
        </div>
        <div class="viewer-file-content">
            <img class="inner-image" src="">
        </div>

        <div class="file-viewer-info-panel" style="display: none;">
            <div class="info-item">
                <label>رقم الهوية:</label>
                <p>{{ application.applicant.id_number }}</p>
            </div>
            <div class="info-item">
                <label>الاسم بالكامل:</label>
                <p>{{ application.applicant.fullname }}</p>
            </div>

            <div class="info-item">
                <label>البريد الالكتروني:</label>
                <p>{{ application.applicant.email }}</p>
            </div>
            <div class="info-item">
                <label>رقم الجوال:</label>
                <p>{{ application.applicant.mobile }} ({{ application.applicant.phonecode }})</p>
            </div>

            <div class="info-item">
                <label>تاريخ الميلاد:</label>
                <p>{{ application.applicant.birthdate|date }} ({{ application.applicant.birthdatehijri_dateformat }} هجري)</p>
            </div>
            <div class="info-item">
                <label>الجنس:</label>
                <p>{{ application.applicant.gender_text }}</p>
            </div>
            <div class="info-item">
                <label>كود الدولة:</label>
                <p>{{ application.applicant.countryid }}</p>
            </div>

            {% if application_type == ApplicationType.COMPANY %}
                <div class="info-item">
                    <label>رقم السجل التجاري:</label>
                    <p>{{ CR.number }}</p>
                </div>
                <div class="info-item">
                    <label>نوع المنشأة:</label>
                    <p>{{ CR.business_type_text }}</p>
                </div>
                <div class="info-item">
                    <label>منصب المتقدم:</label>
                    <p>{{ applicant_application_cr.relation_text }}</p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="file-viewer pdf-viewer-wrapper" style="display: none;">
        <div class="viewer-top-bar">
            <span class="viewer-file-description"></span>
            <span class="viewer-option-button viewer-applicant-info-btn" data-toggle="tooltip" data-title="عرض/إخفاء بيانات المتقدم" data-placement="bottom"><i class="fa fa-eye"></i></span>
            <span class="viewer-option-button viewer-close-btn" data-toggle="tooltip" data-title="غلق" data-placement="bottom"><i class="fa fa-times"></i></span>
        </div>
        <div class="viewer-file-content">
            <object data="" type="application/pdf">
                <embed src="" type="application/pdf">
            </object>
        </div>

        <div class="file-viewer-info-panel" style="display: none;">
            <div class="info-item">
                <label>رقم الهوية:</label>
                <p>{{ application.applicant.id_number }}</p>
            </div>
            <div class="info-item">
                <label>الاسم بالكامل:</label>
                <p>{{ application.applicant.fullname }}</p>
            </div>

            <div class="info-item">
                <label>البريد الالكتروني:</label>
                <p>{{ application.applicant.email }}</p>
            </div>
            <div class="info-item">
                <label>رقم الجوال:</label>
                <p>{{ application.applicant.mobile }} ({{ application.applicant.phonecode }})</p>
            </div>

            <div class="info-item">
                <label>تاريخ الميلاد:</label>
                <p>{{ application.applicant.birthdate|date }} ({{ application.applicant.birthdatehijri_dateformat }} هجري)</p>
            </div>
            <div class="info-item">
                <label>الجنس:</label>
                <p>{{ application.applicant.gender_text }}</p>
            </div>

            <div class="info-item">
                <label>كود الدولة:</label>
                <p>{{ application.applicant.countryid }}</p>
            </div>

            {% if application_type == ApplicationType.COMPANY %}
                <div class="info-item">
                    <label>رقم السجل التجاري:</label>
                    <p>{{ CR.number }}</p>
                </div>
                <div class="info-item">
                    <label>نوع المنشأة:</label>
                    <p>{{ CR.business_type_text }}</p>
                </div>
                <div class="info-item">
                    <label>منصب المتقدم:</label>
                    <p>{{ applicant_application_cr.relation_text }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('form').validate();
        });

        var imageViewer = $('.image-viewer-wrapper');
        var pdfViewer = $('.pdf-viewer-wrapper');

        $('.file-viewer .viewer-close-btn').click(hideViewer);
        $('.file-viewer .viewer-file-content').click(hideViewer);

        $('.file-viewer .viewer-applicant-info-btn').click(toggleViewerInfo);

        function displayViewer(type, src, description) {
            if (type === 'image') {
                imageViewer.find('.viewer-file-description').html(description);
                imageViewer.find('.viewer-file-content .inner-image').attr('src', src);
                $('body')[0].style['overflow'] = 'hidden';
                imageViewer.fadeIn('fast');
            }
            else if (type === 'pdf') {
                pdfViewer.find('.viewer-file-description').html(description);
                pdfViewer.find('.viewer-file-content object').attr('data', src);
                pdfViewer.find('.viewer-file-content embed').attr('src', src);
                $('body')[0].style['overflow'] = 'hidden';
                pdfViewer.fadeIn('fast');
            }
        }

        function hideViewer(){
            $('.file-viewer').fadeOut('fast');
            $('body')[0].style['overflow'] = '';
            hideViewerInfo();
            $('.viewer-file-content')[0].scrollTo(0, 0);
        }

        function showViewerInfo(){
            $('.file-viewer .file-viewer-info-panel').slideDown('fast');
        }

        function hideViewerInfo(){
            $('.file-viewer .file-viewer-info-panel').slideUp('fast');
        }

        function toggleViewerInfo() {
            var visible = $('.file-viewer .file-viewer-info-panel')[0].style['display'] !== 'none';

            if (visible) {
                hideViewerInfo();
            }
            else {
                showViewerInfo();
            }
        }
    </script>

    {% if user_role == 'officer' and application.status.value <= ApplicationStatus.IN_REVISION or user_role == 'officer' and application.status.value == ApplicationStatus.RETURNED_REVISION or user_role == 'officer' and application.status.value == ApplicationStatus.PAYMENT_APPROVED or user_role == 'finance' and application.status.value == ApplicationStatus.PENDING_PAYMENT_APPROVAL or user_role == 'manager' and application.status.value == ApplicationStatus.IN_MANAGER or user_role == 'manager' and application.status.value == ApplicationStatus.RETURNED_MANAGER or user_role == 'president' and application.status.value == ApplicationStatus.IN_PRESIDENT %}
        <script>
            var $rejCom = $('.action-reject-completely-btn');

            function focusActionBar() {
                $('html, body').animate({
                    scrollTop: actionPanel.offset().top
                }, 200);
            }

            function showApprovePanel() {
                hideRejectPanel();
                $('.action-message-approve').slideDown('fast', function(){actionAgree.attr('type', 'submit');});
                focusActionBar();
                actionAgree.attr('data-action', 'approve');
                _action.val('approve');
                $('button.action-reject-btn > span').html('إلغاء');
                $('button.action-reject-btn').removeClass('btn-warning');
                $('button.action-reject-btn').addClass('btn-danger');
                $rejCom.hide();
            }

            function hideApprovePanel() {
                $('.action-message-approve').slideUp('fast');
                {#focusActionBar();#}
                actionAgree.attr('data-action', '');
                _action.val('');
                actionAgree.attr('type', 'button');
                $('button.action-reject-btn > span').html('رد الطلب');
                $('button.action-reject-btn').removeClass('btn-danger');
                $('button.action-reject-btn').addClass('btn-warning');
                $rejCom.show();
            }

            function showRejectPanel() {
                hideApprovePanel();
                $('.action-message-reject').slideDown('fast', function(){actionAgree.attr('type', 'submit');});
                focusActionBar();
                actionAgree.attr('data-action', 'reject');
                _action.val('reject');
                $('button.action-reject-btn > span').html('إلغاء');
                $('button.action-reject-btn').removeClass('btn-warning');
                $('button.action-reject-btn').addClass('btn-danger');
                $rejCom.hide();
            }

            function hideRejectPanel() {
                $('.action-message-reject').slideUp('fast');
                {#focusActionBar();#}
                actionAgree.attr('data-action', '');
                _action.val('');
                actionAgree.attr('type', 'button');
                $('button.action-reject-btn > span').html('رد الطلب');
                $('button.action-reject-btn').removeClass('btn-danger');
                $('button.action-reject-btn').addClass('btn-warning');
                $rejCom.show();
            }

            function showRejectComPanel() {
                hideApprovePanel();
                hideRejectPanel();
                $('.action-message-reject-completely').slideDown('fast', function(){actionAgree.attr('type', 'submit');});
                focusActionBar();
                actionAgree.attr('data-action', 'reject-completely');
                _action.val('reject-completely');
                $('button.action-reject-btn > span').html('إلغاء');
                $('button.action-reject-btn').removeClass('btn-warning');
                $('button.action-reject-btn').addClass('btn-danger');
                $rejCom.hide();
            }

            function hideRejectComPanel() {
                $('.action-message-reject-completely').slideUp('fast');
                {#focusActionBar();#}
                actionAgree.attr('data-action', '');
                _action.val('');
                actionAgree.attr('type', 'button');
                $('button.action-reject-btn > span').html('رد الطلب');
                $('button.action-reject-btn').removeClass('btn-danger');
                $('button.action-reject-btn').addClass('btn-warning');
                $rejCom.show();
            }

            var firstAction = false;

            var actionPanel = $('.action-panel');
            var actionAgree = $('.action-approve-btn');
            var actionReject = $('.action-reject-btn');
            {#var actionRejectCom = $('.action-reject-completely-btn');#}
            var _action = $('input[name=_action]');

            actionAgree.click(function(){
                if (!firstAction){
                    showApprovePanel();
                    firstAction = true;
                }
                else {
                    //submit approval or rejection
                }
            });

            actionReject.click(function(){
                if (firstAction){
                    hideApprovePanel();
                    hideRejectPanel();
                    hideRejectComPanel();
                    deselectFileReturns();
                    firstAction = false;
                }
                else {
                    showRejectPanel();
                    firstAction = true;
                }
            });

            $rejCom.click(function(){
                if (firstAction){
                    hideApprovePanel();
                    hideRejectPanel();
                    hideRejectComPanel();
                    firstAction = false;
                }
                else {
                    showRejectComPanel();
                    firstAction = true;
                }
            });

            var $returnfileselector = $('.return-file-selector');

            function selectFileReturn(el, docid) {
                console.log(el, docid);
                var $this = $(el);
                var selected = $this.attr('data-selected') == 'true';

                if (!selected) {
                    $returnfileselector.append('<input type="hidden" name="returned-files[]" class="returned-files-input" value="'+docid+'" id="returnedfile-'+docid+'">');
                    $this.attr('data-selected', 'true');
                    $this.addClass('application-document-icon-mini-selected');
                }
                else {
                    $('#returnedfile-'+docid).remove();
                    $this.attr('data-selected', 'false');
                    $this.removeClass('application-document-icon-mini-selected');
                }
            }

            function deselectFileReturns() {
                $('.returned-files-input').remove();
                $('.application-document-icon-mini-selected').attr('data-selected', 'false');
                $('.application-document-icon-mini-selected').removeClass('application-document-icon-mini-selected');
            }
        </script>
    {% endif %}
{% endblock %}
