@charset 'utf-8';
@font-face{
  font-family: 'MidanEOT';
  src: url('../fonts/Midan-Black.eot') format('embedded-opentype');
}
@font-face{
  font-family: 'Midan';
  src: url('../fonts/Midan.ttf') format('truetype'), url('../fonts/Midan.svg') format('svg'), url('../fonts/Midan.woff') format('woff');
}
@font-face{
  font-family: 'Midan W23';
  src: url('../fonts/b29b6cfe-efb5-459d-b69a-6dc1eb32a09a.eot?iefix') format('embedded-opentype');
}
@font-face{
  font-family: 'Midan W23';
  src: url('../fonts/770b1c0c-4e80-4254-bf5a-f5fc028db113.ttf') format('truetype'), url('../fonts/f91585b9-218a-4181-88c0-ff875a54cfe4.svg#f91585b9-218a-4181-88c0-ff875a54cfe4') format('svg'), url('../fonts/eaa2ab41-02ed-4da4-8cba-48de42be9f5b.woff') format('woff');
}
* {
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}



/*html {
  font-family: 'Midan';
     width: 100%;
  height: 100%;
}
body{
 font-family: 'Midan'; 
   width: 100%;
  height: 100%;
}*/

@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);
body {
    font-family: 'Midan' !important; 
    margin: 0;
    /*background: #EA5C54;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #EA5C54), color-stop(100%, #bb6dec));
    background: -webkit-linear-gradient(-45deg, #ffffff -56%, #0e5f5c 100%);
    background: -webkit-linear-gradient(-45deg, #ffffff -56%, #0e5f5c 100%);
    background: linear-gradient(-45deg, #45b381 -56%, #5782d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA5C54 ', endColorstr='#bb6dec',GradientType=1 );*/
    background:#eff3fe;
}
body ::-webkit-input-placeholder {
  color: #333 ;
  font-family: 'Midan' !important; 
}
.top-logo {
    margin-top:10px; margin-bottom:10px;
}
.mk-shadow{
	    margin: 50 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 2px 2px 14px rgba(204, 204, 204, 0.8);
    margin-bottom: 24px;
    border: 0px solid #dcdcdc;
    box-sizing: border-box;
    transition: transform .5s ease-in;
}
@media screen and (max-width:767px) {
    .top-logo {
    margin-top:0px; margin-bottom:10px;
}
}
.container {
    direction: rtl;
  margin: 0 auto;
  padding: 80px 0;
  min-height: 400px;
  text-align: center;
}
.field-validation-error {
        width: 100%;
    float: right;
    text-align: right;
    color: #f00;
    font-family: 'Midan';
    font-size: 20px;
    display:none;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
.form-group{
	text-align:right !important;
	font-size: 23px !important;
}
.form-group label{
	color:#2886b5 !important;
	    transition: none !important;
    font-size: 16pt;
}
.form-group input{
	    color: #2886b5 !important;
    transition: none !important;
    text-align: right !important;
    /* padding: 15px !important; */
    border: 1px solid #ddd !important;
    /*height: 45px;*/
    border-radius: 0px;
    font-size: 16px;
    font-family: sans-serif;
}

.btn-default{
    color: #fff !important;
    background-color: #2886b5 !important;
     border-color: #2886b5 !important; 
    font-size: 20px !important;
    border-radius: 0px !important;
	
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	    background: #2b9282 !important;
}
a.brand {
    display: block;
    background: #fff;
    padding:15px;
    box-shadow: 0px 0px 5px #eee;
    margin-bottom: 35px;
}
.container {
    padding-top: 25px;
}
.validation-message {
    width: 315px;
    background: #ffe4e4;
    margin: 9px auto;
    text-align: center;
    padding: 8px 5px;
    color: #ff1212;
    box-shadow: 1px 1px 5px #888;
    border-radius: 3px;
    border: 1px solid rgba(236, 11, 11, 0.63);
        font-family: 'Midan';
    font-size: 20px;
}

.validation-summary-errors ul {
    text-align: center;
    padding: 0;
}
.validation-summary-errors ul li {
    list-style: none;
    margin: 5px auto;
    background: rgba(244, 67, 54, 0.49);
    /* width: 315px; */
    border-radius: 2px;
    color: #fff;
    padding: 5px 0;
}
span.field-validation-error.text-danger {
    margin: 5px auto;
    background: azure;
    width: 315px;
    border-radius: 2px;
    /*display: block;*/
}

.brand img {
    width: 38%;
}
.loginSe {
    width: 315px;
    float: none;
    margin: 0 auto;
}
.loginSe a {
    text-align: center;
    color: #2a67bf;
    padding-left: 12px;
    font-size: 1.6em;
    font-family: 'Midan';
    line-height: 60px;
}
a.bord {
    border-left: 1px solid;
    margin-left: 11px;
    line-height: 17px;
    margin-top: 15px;
}
.loginContainer {
    background: #fbfbfe;
    padding-bottom: 20px;
    box-shadow: 1px 1px 7px #ccc;
}

* {
	transition: all 700ms linear;

}
.captcha-input {
        width:73% !important;
    float: right;
}
.material-form {
    position: relative;
    margin: 22px 40px 22px 40px;
}
.material-form label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #555;
        font-size: 20px;
    font-family: 'Midan';
}
.material-form label.active, .material-form label.filled{
	position: absolute;
	top: -10px;
	right: 3px;
	font-size: 16px;
}

.material-form label.active{
    color: rgb(84, 159, 101);
}

.material-form label.filled{
    color: rgb(84, 159, 101);
}

.material-form input {
    height: 50px;
    padding-right: 17px;
    line-height: 1.5;
    border-width: 0 0 1px;
    outline: 0px;
    text-align: right;
    width: 100%;
    direction: rtl;
}
.bord span {
    font-family: 'Midan';
    font-size:22px;
    padding-top:10px;
}
.bord a {
    font-family: 'Midan';
    color: #2886b5;
    font-size:22px;
    padding-top:10px;
}
.borderAnimy {
    border-bottom:2px solid  rgb(84, 159, 101);
}

body, html {
    background: #fff;
    margin-bottom: 35px;
}

header {
    background: #eee;
        box-shadow: 0 1px 10px #c4c4c4;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 20px;
    background:#00aced;
    z-index: 2;
	color:#FFF  !important;
}

.license-type-item {
    font-size: 18pt;
    display: inline-block;
    padding: 30px 30px 10px;
    transition: all 0ms linear;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    width: 110px;
}

.license-type-item i {
    font-size: 34px;
    display: block;
}

.license-type-link {
    color: black;
    margin: 10px;
}
.license-type-item:hover {
    color: #428bca;
    background-color: #f9f9f9;
    transition: all 10ms linear;
}

select.form-control {
    font-size: 18px;
}
