{% extends 'layout/base.html' %}

{% block content %}

  <div class="row" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">

           <div style="text-align: right; display: block; margin-bottom: 15px; width: 100%; max-width: 960px;"> <a href="{% url 'main:terms' %}" class="btn btn-primary"><i class="fa fa-plus"></i> طلب ترخيص جديد </a></div>


		<div class="panel-form-wide">
			<h3> حالة طلبك </h3>
			<p> <i class="fa fa-info-circle"></i> إذا كانت حالة طلبكم تحت الإجراء، فبرجاء الانتظار حتى يتم الانتهاء من مراجعته وسيتم إرسال بريد الكتروني لكم </p>

			<div style="margin-bottom: 15px; margin-top: 15px; width: 100%;">

                <table class="table">
                    <thead>
                        <tr>
                            <th>نوع الطلب</th>
                            <th>الخدمة المطلوبة</th>
                            <th>تاريخ الإنشاء</th>
                            <th>حالة الطلب</th>
                            <th style="padding: 0px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>{{ application.type_text }}</td>
                            <td>{{ application.service.name }}</td>
                            <td>{{ application.created_at|date }}</td>
                            <td>
                                {% if application.status.value == ApplicationStatus.RETURNED_REVISION %}
                                    تحت الإجراء
                                {% else %}
                                    {{ application.status.name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if application.status.value in view_statuses %}
                                    <a href="{% url 'main:view_application' application.id %}" class="btn btn-warning" ripple="ripple"><i class="fa fa-eye"></i> عرض</a>
                                {% elif application.status.value == ApplicationStatus.PENDING_PAYMENT %}
                                    <a href="{% url 'main:payment_directions' application.id %}" class="btn btn-primary" ripple="ripple"><i class="fa fa-eye"></i> تعليمات الدفع</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


			</div>

		</div>

  </div>
{% endblock %}
