{% extends 'layout/base.html' %}

{% block content %}

  <div class="row" style="display: flex; justify-content: center;">

		<div class="panel-form-wide">
			<h3> حالة طلبك </h3>
			<p> <i class="fa fa-info-circle"></i> إذا كانت حالة طلبكم تحت الإجراء، فبرجاء الانتظار حتى يتم الانتهاء من مراجعته وسيتم إرسال بريد الكتروني لكم. </p>

			<div style="margin-bottom: 15px; margin-top: 15px; width: 100%;">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                            <td class="has-actions">
                                <div class="dropdown">
                                    <i class="fa fa-ellipsis-h btn-actions" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" id="dLabel"></i>
                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                        <li>
                                            <a href="#delate">

                                                <span>Delate</span>
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>

                                            <a href="#view">

                                                <span>View</span>
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                            <td class="has-actions">
                                <div class="dropdown">
                                    <i class="fa fa-ellipsis-h btn-actions" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" id="dLabel"></i>
                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                        <li>
                                            <a href="#delate">

                                                <span>Delate</span>
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>

                                            <a href="#view">

                                                <span>View</span>
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                            <td class="has-actions">
                                <div class="dropdown">
                                    <i class="fa fa-ellipsis-h btn-actions" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" id="dLabel"></i>
                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                        <li>
                                            <a href="#delate">

                                                <span>Delate</span>
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>

                                            <a href="#view">

                                                <span>View</span>
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>

			</div>

		</div>

  </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        $('#terms_agree').change(function(e){
            if (e.target.checked) {
                $('.agreement-btn')[0].disabled = false;
            }
            else {
                $('.agreement-btn')[0].disabled = true;
            }
        });

        $('.agreement-btn').click(function(){
            if ($('#terms_agree')[0].checked) {
                $('.agreement-error').hide();
                window.location.href = '/choose_type.html';
            }
            else {
                $('.agreement-error').show();
            }
        });

    </script>
{% endblock %}
