{% extends 'layout/base.html' %}

{% block content %}

  <div class="row" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">

		<div class="panel-form-wide">
			<h3> حالة طلبك </h3>
			<p> <i class="fa fa-info-circle"></i> إذا كانت حالة طلبكم تحت الإجراء، فبرجاء الانتظار حتى يتم الانتهاء من مراجعته وسيتم إرسال بريد الكتروني لكم </p>

			<div style="margin-bottom: 15px; margin-top: 15px; width: 100%;">

                <table class="table">
                    <thead>
                        <tr>
                            <th>نوع الطلب</th>
                            <th>تاريخ الإنشاء</th>
                            <th>حالة الطلب</th>
{#                            <th>تعليقات</th>#}
                            <th style="padding: 0px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>{{ application.service.name }}</td>
                            <td>{{ application.created_at|date }}</td>
                            {% if application.status.value == ApplicationStatus.RETURNED_REVISION %}
                                <td>تحت الإجراء</td>
                            {% else %}
                                <td>{{ application.status.name }}</td>
                            {% endif %}
{#                            <td>{{ application.comments.count }}</td>#}
                            {% if application.status.value == ApplicationStatus.RETURNED %}
                                <td><a href="{% url 'main:view_application' application.id %}" class="btn btn-warning" ripple="ripple"><i class="fa fa-eye"></i> عرض</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

			</div>

		</div>

  </div>
{% endblock %}
