{% extends 'layout/base.html' %}

{% block content %}

  <div class="row" style="display: flex; justify-content: center;">

		<div class="panel-form-wide">
            <div class="form-head main-form-head">
                <h4> تعديل الطلب </h4>
                <p style="color: red;"> <i class="fa fa-info-circle"></i> يرجى تحديث البيانات والمستندات التالية ببيانات صحيحة وكاملة حتى لا يرد طلبك مرة أخرى </p>
            </div>

            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert" style="direction: rtl">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    {{ error }}
                </div>
            {% endif %}

			<form class="signup-form" action="{% url 'main:individual_signup' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="_updating" value="true">
                <div class="main-form">
                    <div class="form-group">
                        <label class="control-label"> مدة الخدمة المطلوبة </label>
                        <input type="text" class="form-control" id="duration-value" readonly value="سنتين">
                        <div class="help-block"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label"> تم رد طلبك بسبب </label>
                        <textarea class="form-control" readonly style="width: 100%;background-color: white;" rows="4">{{ application.return_reason }}</textarea>
                        <div class="help-block"></div>
                    </div>

                    <fieldset>
                        <legend>المستندات المطلوبة</legend>
                        <div class="form-group">
                            <label class="control-label" for="select-period"> صورة الهوية <i class="fa fa-asterisk required-indicator" data-toggle="tooltip" data-title="حقل مطلوب"></i> </label>
                            <div class="input-group browse-button">
                              <input type="text" class="form-control file-name-holder" readonly placeholder="اضغط لاختيار ملف">
                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-file-photo-o"></i> اختر</button>
                              </span>
                            </div><!-- /input-group -->
                            <input type="file" name="doc-id" accept="image/*" data-rule-required="true" data-msg-required="برجاء اختيار ملف">
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="select-period"> صورة المؤهل الأكاديمي <i class="fa fa-asterisk required-indicator" data-toggle="tooltip" data-title="حقل مطلوب"></i> </label>
                            <div class="input-group browse-button">
                              <input type="text" class="form-control file-name-holder" readonly placeholder="اضغط لاختيار ملف">
                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-file-photo-o"></i> اختر</button>
                              </span>
                            </div><!-- /input-group -->
                            <input type="file" name="doc-graduation" accept="image/*" data-rule-required="true" data-msg-required="برجاء اختيار ملف">
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="select-period"> شهادات الخبرات (متعددة)   <i class="fa fa-question-circle" data-toggle="tooltip" data-title="ملفات من صيغة PDF"></i> <i class="fa fa-asterisk required-indicator" data-toggle="tooltip" data-title="حقل مطلوب"></i> </label>
                            <div class="input-group browse-button">
                              <input type="text" class="form-control file-name-holder" readonly placeholder="اضغط لاختيار ملف">
                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-file-pdf-o"></i> اختر</button>
                              </span>
                            </div><!-- /input-group -->
                            <input type="file" name="doc-expertise" multiple accept="application/pdf" data-rule-required="true" data-msg-required="برجاء اختيار ملف">
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="select-period"> السيرة الذاتية   <i class="fa fa-question-circle" data-toggle="tooltip" data-title="ملف من صيغة PDF"></i> <i class="fa fa-asterisk required-indicator" data-toggle="tooltip" data-title="حقل مطلوب"></i> </label>
                            <div class="input-group browse-button">
                              <input type="text" class="form-control file-name-holder" readonly placeholder="اضغط لاختيار ملف">
                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-file-pdf-o"></i> اختر</button>
                              </span>
                            </div><!-- /input-group -->
                            <input type="file" name="doc-resume" accept="application/pdf" data-rule-required="true" data-msg-required="برجاء اختيار ملف">
                            <div class="help-block"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="select-period"> مستندات إضافية   <i class="fa fa-question-circle" data-toggle="tooltip" data-title="ملف مجمع من صيغة PDF"></i> </label>
                            <div class="input-group browse-button">
                              <input type="text" class="form-control file-name-holder" readonly placeholder="اضغط لاختيار ملف">
                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-file-pdf-o"></i> اختر</button>
                              </span>
                            </div><!-- /input-group -->
                            <input type="file" name="doc-additional" accept="application/pdf">
                            <div class="help-block"></div>
                        </div>
                    </fieldset>

                    <!-- <div class="form-group">
                        <label class="control-label" for="textarea-comments"> ملاحظات </label>
                        <textarea class="form-control" id="textarea-comments" rows="5"></textarea>
                        <div class="help-block"></div>
                    </div> -->


                    <div class="form-submission-wrapper" style="margin-bottom: 15px; text-align: center">
                        <button type="submit" class="btn btn-success" ripple="ripple"><i class="fa fa-paper-plane"></i> تحديث الطلب </button>
                        <!-- <button type="button" class="btn btn-warning" ripple="ripple"><i class="fa fa-paper-plane"></i> حفظ </button> -->
                    </div>
                </div>
			</form>


		</div>

  </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.browse-button').click(function(){
                var that = this;
                var host = $(this).siblings('input[type=file]');
                if (host.length) {
                    host.change(function(){
                        var files = this.files;
                        if (files.length) {
                            if (host.attr('multiple')){
                                $(that).children('.file-name-holder')[0].value = 'تم اختيار عدد (' + files.length + ') ملفات';
                            }
                            else {
                                $(that).children('.file-name-holder')[0].value = files[0].name;
                            }
                        }
                        else{
                            $(that).children('.file-name-holder')[0].value = '';
                        }
                    });
                    host.trigger('click');
                }
            });

            $('form').validate();

            function showReviewForm(){
                setTimeout(function(){
                    $('.main-form').hide();
                    $('.main-form-head').hide();
                    $('.alert.alert-dismissible').hide();

                    var licenseDurationEl = $('#duration-value')[0];
                    $('#service-period-value').val(licenseDurationEl.value);
                    $('.data-entry-step').removeClass('inprogress').addClass('success');
                    $('.review-step').addClass('inprogress');
                    $('.review-form').show();
                    $('.review-form-head').show();
                    window.scrollTo(0,0);
                }, 300);
            }

            function showMainForm(){
                setTimeout(function(){
                    $('.review-form').hide();
                    $('.review-form-head').hide();

                    $('.review-step').removeClass('inprogress');
                    $('.data-entry-step').removeClass('success').addClass('inprogress');
                    $('.main-form').show();
                    $('.main-form-head').show();
                    window.scrollTo(0,0);
                }, 300);
            }

            $('#main-form-submit').click(function(){
                if ($('form').valid()) {
                    showReviewForm();
                }
            });
            $('.review-form-head a.btn').click(function(){
                showMainForm();
            });
        });
    </script>
{% endblock %}
