{% extends 'layout/base.html' %}

{% block content %}
	<div>
			<div class="stepsWizard-h">
				<span class="pull-right visible-xs visible-sm">4 من 6</span>
				<div class="clearfix visible-xs visible-sm"></div>

				<ul>
					<!-- classes: success - inprogress  -->
					 <li class="success"><i>1</i><span>الشروط والأحكام</span></li>
					 <li class="success"><i>2</i> <span>تحديد نوع الترخيص</span></li>
					 <li class="inprogress"><i>3</i> <span>إستكمال البيانات</span></li>
					 <li><i>4</i> <span>مراجعة</span></li>

				</ul>
				<div class="clearfix"></div>
			</div>
	</div>

  <div class="row" style="display: flex; justify-content: center;">

		<div class="panel-form-wide">
			<div style="margin-bottom: 15px; text-align: right; width: 100%">
				<button type="button" class="btn btn-primary" ripple="ripple"><i class="fa fa-chevron-right"></i> رجوع </button>
			</div>
			<h4> تسجيل أفراد </h4>
			<p> <i class="fa fa-info-circle"></i> يرجى ملئ البيانات التالية ببيانات صحيحة وكاملة </p>

			<form class="signup-form" action="#" method="post">
				<!-- <div class="form-group">
					<label class="control-label" for="input-name"> ادخل الاسم </label>
					<input class="form-control" type="text" id="input-name">
					<div class="help-block"></div>
				</div> -->

				<div class="form-group">
					<label class="control-label" for="select-period"> مدة الخدمة المطلوبة </label>
					<select class="form-control" id="select-period">
					  <option> سنة </option>
						<option> سنتين </option>
						<option> ثلاث سنوات </option>
						<option> أربع سنوات </option>
						<option> خمس سنوات </option>
					</select>
					<div class="help-block"></div>
				</div>

				<!-- <div class="form-group">
					<label class="control-label" for="textarea-comments"> ملاحظات </label>
					<textarea class="form-control" id="textarea-comments" rows="5"></textarea>
					<div class="help-block"></div>
				</div> -->

				<div style="margin-bottom: 15px; text-align: center">
					<button type="submit" class="btn btn-success" ripple="ripple" onclick="javascript:window.location.href='/request_success.html';return false;"><i class="fa fa-paper-plane"></i> تقديم الطلب </button>
					<!-- <button type="button" class="btn btn-warning" ripple="ripple"><i class="fa fa-paper-plane"></i> حفظ </button> -->
				</div>
			</form>


		</div>

  </div>
{% endblock %}
