{% extends 'layout/base.html' %}

{% block content %}

  <div class="row" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">

		<div class="panel-form-wide">
			<h3> التراخيص الصادرة لك </h3>

			<div style="margin-bottom: 15px; margin-top: 15px; width: 100%;">

                <table class="table">
                    <thead>
                        <tr>
                            <th>نوع الترخيص</th>
                            <th>حالة الترخيص</th>
                            <th>تاريخ الإصدار</th>
                            <th>تاريخ الإنتهاء</th>
                            <th style="padding: 0px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for license in licenses %}
                        <tr>
                            <td>{{ license.application.type.name }}</td>
                            <td>{{ license.status.name }}</td>
                            <td>{{ license.created_at|date }}</td>
                            <td>{{ license.expiration_date|date }}</td>
                            <td><a href="{% url 'main:download_license' license.id %}" target="_blank" class="btn btn-primary" ripple="ripple"><i class="fa fa-download"></i> تحميل الترخيص</a></td>
                            {% comment %}<td><a href="{% url 'main:view_application' license.application.id %}" class="btn btn-primary" ripple="ripple"><i class="fa fa-eye"></i> عرض الطلب</a></td>{% endcomment %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

			</div>

		</div>

  </div>
{% endblock %}
