{% extends 'layout/base.html' %}

{% block styles %}
    <style>
        ul.payment-steps {
            list-style: none;
            padding: 0px;
        }
        ul.payment-steps li {
            margin-bottom: 5px;
            font-size: 12pt;
        }

        .ol-numbering {
            display: inline-block;
            border-radius: 100%;
            background-color: #3366cc;
            color: #fff;
            width: 22px;
            height: 22px;
            text-align: center;
            margin-left: 5px;
        }
    </style>
{% endblock %}

{% block content %}

  <div class="row" style="display: flex; justify-content: center;">

		<div class="panel-form-wide">
            <div class="form-head main-form-head">
                <h4> تحديث بيانات الدفع </h4>
                <p style="color: red;"> <i class="fa fa-info-circle"></i> يرجى تحديث البيانات والمستندات التالية ببيانات صحيحة وكاملة حتى لا يرد طلبك مرة أخرى </p>
            </div>

            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert" style="direction: rtl">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    {{ error }}
                </div>
            {% endif %}

			<form class="signup-form" action="{% url 'main:payment_directions' application.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="_updating" value="true">

                <div class="main-form">
                    <div class="form-group">
                        <label class="control-label"> الخدمة المطلوبة </label>
                        <input type="text" class="form-control" id="duration-value" readonly value="{{ application.service }}">
                        <div class="help-block"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label"> مدة الخدمة المطلوبة </label>
                        <input type="text" class="form-control" id="duration-value" readonly value="{{ application.duration_text }}">
                        <div class="help-block"></div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label class="control-label"><i class="fa fa-exclamation-triangle"></i> تم رد طلبك بسبب </label>
                        <textarea class="form-control" readonly style="width: 100%;background-color: white;" rows="4">{{ application.return_reason }}</textarea>
                        <div class="help-block"></div>
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".model-payment-directions">عرض تعليمات الدفع</button>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label class="control-label"> صورة إيصال الدفع <i class="fa fa-asterisk required-indicator" data-toggle="tooltip" data-title="حقل مطلوب"></i> </label>
                        <div class="input-group browse-button">
                          <input type="text" class="form-control file-name-holder" readonly placeholder="اضغط لاختيار ملف">
                          <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fa fa-file-photo-o"></i> اختر</button>
                          </span>
                        </div><!-- /input-group -->
                        <input type="file" name="doc-receipt" accept="image/*" data-rule-required="true" data-msg-required="برجاء اختيار ملف">
                        <div class="help-block"></div>
                    </div>

                    <div class="form-submission-wrapper" style="margin-top:30px;margin-bottom: 15px; text-align: center">
                        <button type="submit" id="main-form-submit" class="btn btn-success submit-loading" ripple="ripple"><i class="fa fa-check"></i>  إنهاء </button>
                    </div>
                </div>
			</form>


		</div>

  </div>

    <div class="modal model-payment-directions" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="display: inline-block;">تعليمات الدفع</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="payment-steps">
                <li> <span class="ol-numbering">1</span>  قم بزيارة أقرب ... </li>
                <li> <span class="ol-numbering">2</span> تفضل بدفع مبلغ <b>{{ price }}</b> ريال سعودي لحساب: <br><b>(SA 20011 0000 1230 3010 00089)</b> </li>
                <li>  <span class="ol-numbering">3</span> ثم العودة لهذه الصفحة ورفع صورة من إيصال الدفع لاستكمال طلبكم</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            var $form = $('form');
            $('.browse-button').click(function(){
                var that = this;
                var host = $(this).siblings('input[type=file]');
                if (host.length) {
                    host.change(function(){
                        var files = this.files;
                        if (files.length) {
                            if (host.attr('multiple')){
                                $(that).children('.file-name-holder')[0].value = 'تم اختيار عدد (' + files.length + ') ملفات';
                            }
                            else {
                                $(that).children('.file-name-holder')[0].value = files[0].name;
                            }
                        }
                        else{
                            $(that).children('.file-name-holder')[0].value = '';
                        }
                    });
                    host.trigger('click');
                }
            });

            $form.validate();
        });
    </script>
{% endblock %}
