{% extends 'layout/base.html' %}

{% block content %}
    	<div>
			<div class="stepsWizard-h">
				<span class="pull-right visible-xs visible-sm">1 من 4</span>
				<div class="clearfix visible-xs visible-sm"></div>

				<ul>
					<!-- classes: success - inprogress  -->
					 <li class="inprogress"><i>1</i><span>الشروط والأحكام</span></li>
					 <li><i>2</i> <span>تحديد نوع الترخيص</span></li>
					 <li><i>3</i> <span>إستكمال البيانات</span></li>
					 <li><i>4</i> <span>مراجعة</span></li>

				</ul>
				<div class="clearfix"></div>
			</div>
	</div>

  <div class="row" style="display: flex; justify-content: center;">

		<div class="panel-form-wide">
			<h4> الشروط والأحكام </h4>
			<p> <i class="fa fa-info-circle"></i> يجب الموافقة على الشروط الأتية لاستكمال التسجيل </p>

			<form class="terms-form" method="post">
                {% csrf_token %}
				<div class="terms-container">
					<p class="bold-font"> الشروط والأحكام للرخص الإحصائية‬ </p>

					<p class="bold-font"> أولاً: الأفراد </p>

					<p>
						<ul>
							<li> أ- أن يكون طالب الترخيص سعودي الجنسية.‬ </li>
							<li> ب- أن يكون طالب الترخيص كامل الأهلية. </li>
							<li> ج- أن يكون طالب الترخيص حسنَ السيرة والسلوك، وغير محكوم عليه بحد شرعي أو في جريمة مُخِلة بالشرف أو الأمانة، ما لم يكن قد رُد إليه اعتبارُه. </li>
							<li> د- أن يكون طالب الترخيص حاصلاً على درجة البكالوريوس في تخصص الإحصاء أو التخصصات المعادلة له مثل بحوث العمليات أو الأساليب الكمية أو الاقتصاد القياسي أو غيرها بحسب ما تقرره لجنة متخصصة لتحديد مدى مناسبة التخصص للترخيص إذا لم يَكن حاصلاً على المؤهل المطلوب. </li>
							<li> هـ- أن يكون لدى طالب الترخيص خبرة عملية في ممارسة العمل الإحصائي بعد الحصول على المؤهل العلمي لدى المنشآت المرَخص لها من قِبَل الهيئة، أو في الجهات الحكومية، أو الأهلية، أو الشركات، للآتي أو المؤسسات الفردية، وتكون مدتها وفقا: </li>

							<ol>
								<li> خبرة لا تقل عن ثلاثة أعوام لمن لديه درجة البكالوريوس في تخصص الإحصاء أو ما يعادلها. </li>
								<li> خبرة لا تقل عن عامين لمن لديه درجة الماجستير في تخصص الإحصاء أو ما يعادله. </li>
								<li> خبرة لا تقل عن عام واحد لمن لديه درجة الدكتوراه في تخصص الإحصاء أو ما يعادله. </li>
							</ol>

							<li> و- اجتياز الاختبارات التأهيلية والمهنية المعتمدة من قبل الهيئة أو من يمثلها. </li>
							<li> ز- اجتياز الدورات التدريبية التي تطلبها الهيئة. </li>
							<li> ح- تعبئة جميع النماذج اللازمة للتقديم على الترخيص. </li>
						</ul>
					</p>

					<hr>

					<p class="bold-font"> ثانياً: الجهات الخاصة </p>

					<p><i class="bold-font"> شروط منح ترخيص مزاولة أعمال إحصائية للمنشأة. </i></p>

					<p>
						<ul>
							<li> أ- أن يكون المنشأة سعودية الجنسية. </li>
							<li> ب- أن يكون صاحب المنشأة -في حال كانت المنشأة فردية- أو أحد الشركاء فيها -إن كانت المنشأة شركة- حاصلاً على ترخيص ممارس إحصائي. </li>
							<li> ج- تعبئة جميع النماذج اللازمة للتقديم على الترخيص. </li>
						</ul>

						<i> ويجوز للشركات الأجنبية التقدم بالطلب على الترخيص بعد استيفاء الاشتراطات اللازمة وفق نظام الاستثمار الأجنبي السعودي ونظام الشركات السعودي. </i>
					</p>

					<p><i class="bold-font"> شروط منح ترخيص مزاولة أعمال إحصائية للشركات الأجنبية. </i></p>

					<p>
						<ul>
							<li> أ- أن يكون أحد الشكراء أو المدير التنفيذي أو المدير العام أو ما في حكمهما سعودياً حاصلاً على ترخيص ممارس إحصائي. </li>
							<li> ب- أن يكون المدير التنفيذي أو المدير العام أو ما في حكمهما في الشركة الأجنبية ذات الشخص الواحد سعودياً حاصلاً على ترخيص ممارس إحصائي. </li>
							<li> ج- تعبئة جميع النماذج اللازمة للتقديم على الترخيص </li>
						</ul>
					</p>
				</div>

				<div class="agreement-check">
					<input type="checkbox" disabled name="terms_agree" id="terms_agree"> <label for="terms_agree"> لقت قرأت الشروط  والأحكام كاملة وأوافق عليها </label>
				</div>
				<p class="agreement-error" style="display: none;color: darkorange"> لا يمكنك المتابعة قبل الموافقة على الشروط والأحكام </p>

                <div class="form-submission-wrapper" style="margin-top: 15px; text-align: center">
                    <button type="submit" class="btn btn-success agreement-btn" disabled ripple="ripple"> متابعة <i class="fa fa-chevron-left"></i></button>
                </div>
			</form>


		</div>

  </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        $('#terms_agree').change(function(e){
            if (e.target.checked) {
                $('.agreement-btn')[0].disabled = false;
            }
            else {
                $('.agreement-btn')[0].disabled = true;
            }
        });

        $('.terms-container').scroll(function(e){
            var el = e.target;
            if (el.scrollTop >= (el.scrollHeight - $(el).height() - 20)) {
                $('#terms_agree')[0].disabled = false;
            }
        });

    </script>
{% endblock %}
